p {
    font-size: 12px;
    text-decoration: line-through;
}
h1 {
	color: #008000;
	background-color: #888888;
	text-transform: uppercase;
	margin: 20px;
	padding: 40px;
	border-width: 5px;
	border-color: red;
	border-style: dashed;
}
h2{
	text-decoration: underline;
}
body {
	background: white url(http://33.media.tumblr.com/89f0cbdea2470775ce8e117843323dce/tumblr_nkm2j8M2RC1ql5yr7o2_500.gif) repeat top right;
	font-family: sans-serif;
}
#intro{
	border-width: 1px;
	border-style: solid;
	border-color: black;
}
.spotlight{
	background-color: #FEFE22;
}
p, h2{
	color: #305E30;
lnk:hover {text-transform:uppercase;}